.Assets {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.Assets-logo {
  animation: Assets-logo-spin infinite 20s linear;
  height: 80px;
}

.Assets-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Assets-intro {
  font-size: large;
}

@keyframes Assets-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Gradient-grey {
  padding: 40px 0;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 83%, rgba(245,245,245,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(83%, rgba(252,252,252,1)), color-stop(100%, rgba(245,245,245,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 83%, rgba(245,245,245,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 83%, rgba(245,245,245,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 83%, rgba(245,245,245,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 83%, rgba(245,245,245,1) 100%);
}

.sl-button {
  height: 30px;
  width: 150px;
}

.sl-input {
  height: 25px;
  width: 200px;
  font-size: 0.8em;
  padding-left: 3px;
}

.sl-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;

  ul {
    padding: 0;
  }
}

.sl-collapsible .sl-header {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  background-color: #eaeaea;
}

.sl-documentation .sl-collapsible .sl-header {
  font-size: 0.9em;
  padding: 10px;
  height: 20px;
  width: 100px;
}


.sl-collapsible .sl-body.show {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.sl-collapsible .sl-body.hidden {
  display: none;
}

.sl-pagination {
  li {
    list-style: none;
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
    color: #000;
  }

  ul {
    padding: 0;
  }

  #page-numbers {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      border: 1px solid #000;
      border-radius: 2px;
      height: 30px;
      width: 30px;

    }
  }
}

